.white {
  background: #fafafa;
}

.white header {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.white .nav-left a {
  color: #111517;
}

.white main {
  background: #fafafa;
}

.white .return-link {
  background: #fff;
}
.white .about-country a {
  background: #fff;
}

.white .return-link span,
.white .country-name span,
.white .about-country h1,
.white .about-country a,
.white .about-country span {
  color: #111517;
}

.dark-mode,
.light-mode {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.light-mode span {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dark-mode span {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mode-hide {
  display: none;
}
